---
import { getCollection } from "astro:content";
import Image from "astro/components/Image.astro";
import PostLayout from "../../layouts/PostLayout.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection('blogPosts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

---

<PostLayout>
  <header>
    <div class="title">
      <h2><a href="#">{entry.data.title}</a></h2>
      <p>{entry.data.subtitle}</p>
    </div>
    <div class="meta">
      <time class="published" datetime="2015-11-01"
        >{entry.data.publishedDate}</time
      >
      <a href="#" class="author"
        ><span class="name">{entry.data.author}</span><img
          src="/images/avatar.jpg"
          alt=""
        /></a
      >
    </div>
  </header>
  <span class="image featured"
    ><Image
      class="tw-m-auto tw-w-full tw-h-full"
      src={entry.data.image}
      width={1280}
      height={720}
      alt="featured-image"
    /></span
  >
  <Content />
</PostLayout>
