---
import { getCollection, getEntry } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import PostListEntry from "../components/PostListEntry.astro";

const getPostList = async () => {
  const allBlogPosts = (await getCollection("blogPosts")).sort(
    (a, b) =>
      Date.parse(b.data.publishedDate) - Date.parse(a.data.publishedDate)
  );
  return allBlogPosts;
};

const allPosts = await getPostList();
---

<PageLayout>
  <body class="is-preload">
    <!-- Main -->
    <div id="main">
      {allPosts.map((postEntry) => {
		const { title, subtitle, publishedDate, author, tags, image } = postEntry.data
		const {slug, body} = postEntry 
		return <PostListEntry
			title={title}
			subtitle={subtitle}
			publishedDate={publishedDate}
			author={author}
			tags={tags}
			body={body}
      image={image}
			slug={`/posts/${slug}`}
		/>
	  })}

      <!-- Pagination -->
      <ul class="actions pagination">
        <li>
          <a href="" class="disabled button large previous">Previous Page</a>
        </li>
        <li><a href="#" class="button large next">Next Page</a></li>
      </ul>
    </div>
  </body>
</PageLayout>
