---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import PostListEntry from "@components/PostListEntry.astro";

const { page } = Astro.props;

export async function getStaticPaths({ paginate }) {
  const allBlogPosts = (await getCollection("blogPosts")).sort(
    (a, b) =>
      Date.parse(b.data.publishedDate) - Date.parse(a.data.publishedDate)
  );
  return paginate(allBlogPosts, { pageSize: 2 });
}

---

<PageLayout>
  <body class="is-preload">
    <!-- Main -->
    <div id="main">
      {page.data.map((postEntry) => {
		const { title, subtitle, publishedDate, author, tags, image } = postEntry.data
		const {slug, body} = postEntry 
		return <PostListEntry
			title={title}
			subtitle={subtitle}
			publishedDate={publishedDate}
			author={author}
			tags={tags}
			body={body}
      image={image}
			slug={`/posts/${slug}`}
		/>
	  })}

      <!-- Pagination -->
      <ul class="actions pagination">
        <li>
          <a href={page.url.prev} class:list={["button", "large", "previous", {disabled: !page.url.prev}]}>Previous Page</a>
        </li>
        <li><a href={page.url.next} class:list={["button", "large", "next", {disabled: !page.url.next}]}>Next Page</a></li>
      </ul>
    </div>
  </body>
</PageLayout>
